<nav class="navbar   bg-body-tertiary fixed-top">
    <div class="container-fluid bg-body-tertiary \\\\">
      <a class="navbar-brand  img-Navbar" href="#">
        <p class="navbar-brand img-Navbar"></p>
      </a>
      <img width="60px"height="60px"   src="/MarketDoze.jpg" alt="no">
      <a class="navbar-brand mb-3" href="#">
       MARKET DOZE</a>
     <!-- ________________________ -->
     <form   method="post" action="listing2/showInfluencer"  class="d-flex mt-1 col-5 offset-3" role="search">
      <input
        class="form-control me-2"
        type="search"
        name="influencerName"
        placeholder="Enter Name ..."
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="offcanvas offcanvas-end"
        tabindex="-1"
        id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">MARKETDOZE_BAR</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/Home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/listing2">All Influencer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/listing2/new">Add new Influencer</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Dropdown for Influencer
              </a>
              <ul class="dropdown-menu">
                <% if(!currUser){ %>
  
                <li>
                  <a class="dropdown-item" href="/signup"
                    >signup for influencer</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/login"
                    >login for influencer</a
                  >
                </li>
                <%} %>
  
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <% if(currUser){%>
                <li>
                  <a class="dropdown-item" href="/logout"
                    >logout for influencer</a
                  >
                </li>
                <%}%>
              </ul>
            </li>
          </ul>
         
        </div>
      </div>
    </div>
  </nav>
  <!-- _______________________________________________________ -->
  