<% layout('/layouts/boilerplate') -%>

<body>
  <form method="POST" class="needs-validation" novalidate action="/listings">
    <br /><br />
    <div class="row">
      <div class="col col-8 offset-2">
        <h3>Create a Listing</h3>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            name="listing[title]"
            placeholder="Add a catcy title"
            class="form-control"
            required
          />
          <div class="valid-feedback">Title looks good!</div>

        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            name="listing[description]"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">
            Please enter short description
          </div>
        </div>

        <div class="mb-3">
          <label for="img" class="form-label">Image Link</label>
          <input
            type="text"
            name="listing[image]"
            placeholder="enter img url "
            class="form-control"
          />
          <div class="invalid-feedback">Please enter Valid Img link </div>

        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              type="text"
              name="listing[price]"
              placeholder="1200"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Price should be valid</div>

          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              name="listing[country]"
              placeholder="India"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Country should be valid</div>

          </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            name="listing[location]"
            placeholder="jaipur,rajasthan"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Location should be valid</div>

        </div>

        <button class="btn btn-dark new-btn">Add</button>
      </div>
    </div>
  </form>
  <br /><br />
</body>
