<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body  style="background-image: url('backgroudimage.jpg'); background-repeat: no-repeat ; background-size: cover;" class="mainbody">
    <nav  class=" homeNav navbar navbar-expand-lg  border border-info navbar navbar-expand-lg shadow-sm p-3  rounded">
        <div class="container-fluid">
            <img width="150px"height="95px"   src="/MarketDoze.jpg" alt="no">
          <a class="navbar-brand aboutUs" href="#aboutUs">About Us</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class=" home nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#Our_Mission">Our Mission</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#Our_Services">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link "href="#contactUs" >Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="marquee">
        <div class="marquee-content">
            
          <i class="bi bi-star-fill">        <h1 style="text-align:center;" >MarketDoze</h1>
          </i> "We are not creating ads; we are connecting brands with the communities they serve." <i class="bi bi-lightning-fill"></i>
         <i class="bi bi-music-note-beamed"></i>
        </div>
      </div>
  

      <div class="container">
        <div class="row">


          
          
          <div class="col-md-6">
            <div class=" maincard mt-2 card shadow-lg p-3 mb-5 bg-body-tertiary rounded">
              <video  class=" video shadow-lg  mb-5 bg-body-tertiary rounded" height="350"  muted preload="auto" autoplay>
                <source src="HouseOwner.mp4" type="video/mp4"> 
                <!-- <source src="movie.ogg" type="video/ogg"> -->
                Your browser does not support the video tag.
              </video>
              <div class="card-body">
                <h5 class="card-title"><i class=" card-title1">Physical Marketing</i></h5>
                
                <a href="listings" class="btn btn-primary">View </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class=" maincard mt-2 card shadow-lg p-3 mb-5  bg-body-tertiary rounded ">
              <video style="width: 600px;"  class="shadow-lg  mb-5 bg-body-tertiary rounded"  height="350"  muted preload="auto" autoplay >
                <source src="influencer.mp4" type="video/mp4">
                <!-- <source src="movie.ogg" type="video/ogg"> -->
                Your browser does not support the video tag.
              </video>
              <div class="card-body">
                <h5 class="card-title"><i>Influencer Marketing</i></h5>
              
                <a href="listing2" class="btn btn-primary">View</a> </a>
              </div>
            </div>
          </div>
         
        </div>
      </div>
      <div class="aboutborder">
        <hr>
      <div id="aboutUs" class="paraAbout"><div><h3 class="center">About MarketDoze </h3><br><br><p class="font" style="text-align: justify;">
        At Market Doze, we are pioneers in combining the power of physical advertising in urban spaces with local influencer promotions. Our mission is to revolutionize the advertising landscape by bridging the gap between offline and online marketing strategies, offering businesses a unique and impactful way to connect with their target audiences.

We provide an innovative platform that allows companies to display advertisements on buildings, homes, and urban spaces while simultaneously leveraging the digital influence of local social media personalities. By integrating physical posters and banners with influencer-driven promotions, we create a hybrid marketing experience that enhances brand visibility, engagement, and authenticity.

Our dedicated team partners with local property owners and influencers to ensure that businesses can efficiently tap into highly localized markets while maintaining a strong digital presence. At Market Doze, we are not just reshaping advertising—we are building stronger connections between brands and communities.
      </p></div><div><img class="aboutUsImag" width="300px"height="300px"   src="/marketdozeLogo2.jpg" alt="no">
      </div></div></div>
      
      
      <div   id="Our_Mission" class="aboutborder">
        <hr>
      <div id="Our_Mission" class="paraAbout"><div><img class="aboutUsImag" width="300px"height="300px"   src="/MissionLogo.jpg" alt="no">
      </div><div><h3 class="center">Our Misssion</h3><br><br><p  class="font" style="text-align: justify;">
        "At Market Doze, our mission is to revolutionize urban advertising by combining innovative physical ad placements with the power of local influencers. We aim to help businesses connect with their audiences in a more authentic, targeted, and impactful way, driving growth and community engagement. By transforming underutilized urban spaces into creative advertising platforms, we empower brands to make a lasting impression while supporting local talent and economies."
      </p></div></div></div>
    <hr>

    
<h3   id="Our_Services" class="ourservice">Our Services</h3>
      <div class="mainService mt-5">
        
        <div class="Services"> <div class="pricing-table pricing-card ">
              <h2 class="pricing-title">BASIC</h2>
              <p class="price">  &#8377 100</p>
              <ul class="features">
                  <li>✔ Lorem ipsum</li>
                  <li>✔ Lorem ipsum magna</li>
                  <li>✘ Lorem ipsum magna sint</li>
                  <li>✘ Lorem ipsum magna sint</li>
              </ul>
              
               
               
              <a href="#" class="buy-button">BUY NOW</a>
          </div>
  </div>
        <div class="Services">
          <div class="pricing-table pricing-card ">
            <h2 class="pricing-title">BASIC</h2>
            <p class="price">&#8377 150</p>
            <ul class="features">
                <li>✔ Lorem ipsum</li>
                <li>✔ Lorem ipsum magna</li>
                <li>✘ Lorem ipsum magna sint</li>
                <li>✘ Lorem ipsum magna sint</li>
            </ul>
            <a href="#" class="buy-button">BUY NOW</a>
        </div>
        </div>
        <div class="Services">
          <div class="pricing-table pricing-card ">
            <h2 class="pricing-title">BASIC</h2>
            <p class="price">&#8377 200</p>
            <ul class="features">
                <li>✔ Lorem ipsum</li>
                <li>✔ Lorem ipsum magna</li>
                <li>✘ Lorem ipsum magna sint</li>
                <li>✘ Lorem ipsum magna sint</li>
            </ul>
            <a href="#" class="buy-button">BUY NOW</a>
        </div>
        </div>
      </div>
      <br>
      <div  id="contactUs" class="container">
        <div class="content">
          <div class="left-side">
            <div class="address details">
              <i class="fas fa-map-marker-alt"></i>
              <div class="topic">Address</div>
              <div class="text-one">MarketDoze</div>
              <div class="text-two">Prayagraj</div>
            </div>
            <div class="phone details">
              <i class="fas fa-phone-alt"></i>
              <div class="topic">Phone</div>
              <div class="text-one">8429936700</div>
              <div class="text-two">7879547064</div>
            </div>
            <div class="email details">
              <i class="fas fa-envelope"></i>
              <div class="topic">Email</div>
              <div class="text-one">keshariashish871@gmail.com</div>
              <div class="text-two">abhisekmishra19u@gmail.com</div>
            </div>
          </div>
          <div class="right-side">
            <div class="topic-text "style="text-align: center;"><h1>Contact Us</h1></div>
            <div class="topic-text mt-4" >Send us a message</div>
            <p>If you contact us or any types of quries related to my tutorial, you can send me message from here. It's my pleasure to help you.</p>
            <form method="post" action="/Home/contactUS">
              <div class="input-box">
                <input type="text" placeholder="Enter your name" name="name" required>
              </div>
              <div class="input-box">
                <input type="email" placeholder="Enter your email" name="email" required>
              </div>
              <button type="submit" class="btn btn-primary">Send me</button>
            </form>
        </div>
        </div>
      </div>
    
<br><br>

      <footer 
  <div class="f-info">
    <div class="f-info-social">
      <i class="fa-brands fa-facebook"></i
      ><i class="fa-brands fa-square-instagram"></i
      ><i class="fa-brands fa-linkedin"></i>
    </div>
    <div><div class="f-info-brand"></div>&copy;MarketDoze  Privete Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
      


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> 
</body>
</html>