body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  flex: 1;
}
/* navbar__________  */
.navbar {
  height: 3rem;
  background-color: #fff !important;
}
.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}
.nav-link {
  color: #222222 !important;
}
a .img-Navbar{
  background-image: url('MarketDoze.jpg') !important;
  background-size: contain  !important;; 
  background-repeat: no-repeat  !important;; 
  width: 50px  !important;; 
  height: 50px  !important;;
}

/* footer___________ */
.f-info-links a {
  text-decoration: none;
  color: #222222;
  margin-left: 1rem;
}
.f-info-links a:hover {
  text-decoration: underline;
}
.f-info-links,
.f-info-social,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-social i {
  font-size: 1.2rem;
  margin-right: 1rem;
}
.f-info {
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: space-evenly;
}
/* CARD_______________ */
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}
.card-img-top {
  border-radius: 1rem !important;
  width: 100%;
  object-fit: cover !important;
}
.card-body {
  padding: 0 !important;
}
.card-text p {
  font-weight: 400 !important;
}
.listing-link {
  text-decoration: none;
}
/* card-effect_____________ */

.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}
/* New_____________ */
.new-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* edit____________ */
.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}
/* show-image__________ */
.show-image {
  height: 30vh;

}
.btns {
  display: flex;
}

.show-card {
  padding-left: 0;
  padding-right: 0;
}
