<% layout('/layouts/boilerplate2') -%>
<div class="container mt-5">
    <div class=" text-bg-info  card ">
  <h5 style="text-align: center;"  class="card-title text-success">Thank You</h5>
        <h6 style="text-align: center;" class="card-text"> Your Request are Submited!</h6>
      
        <p class="card-text"style="text-align: center;">we will response you within 3 days!</p>
      
    </div>
  </div>